/*** Fonts ***/
@font-face {
    font-family: 'Canaro';
    src: local('../fonts/Canaro Light'), local('Canaro-Light'),
        url('../fonts/Canaro-Light.woff2') format('woff2'),
        url('../fonts/Canaro-Light.woff') format('woff'),
        url('../fonts/Canaro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Canaro';
    src: local('../fonts/Canaro Semi Bold'), local('Canaro-Semi-Bold'),
        url('../fonts/Canaro-SemiBold.woff2') format('woff2'),
        url('../fonts/Canaro-SemiBold.woff') format('woff'),
        url('../fonts/Canaro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/*** Geral config ***/
:root {
  --white: #ffffff;
  --black: #000000;
  --silver-light: #848484;
  --silver-dark: #575756;
  --silver-menu: #0000001C;
  --silver-fb: #FBFBFB;
  --silver-b8: #B8B8B8;
  --silver-f1: #F1F1F1BD;
  --orange: #E42313;
  --success: #43a047;
  --error: #d32f2f;

  --text-font: 'Segoe UI', tahoma, sans-serif;
  --title-font: 'Canaro', arial, sans-serif;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
     height: auto;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: 500;
}

p,
a,
ul li {
    font-family: var(--text-font);
    font-size: 16px;
    line-height: 140%;
}

li {
  position: relative;
  list-style: none;
}

body {
    width: 100%;
    background: var(--white);
}

.container {
    max-width: 1120px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.col {  
    width: 50%;
} 


/*** Header ***/
header {
    height: 100px;
    width: 100%;
    background:  var(--white);
    box-shadow: 0px 5px 9px var(--silver-menu);
    position: fixed;
    z-index: 99;
}
header .logo {
    width: 30%;
    display: flex;
    align-items: center;
}
header .menu-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .menu-container .icon-mobile {
    display: none;
    text-decoration: none;
    color: var(--silver-dark);
}
header .menu-container .icon-mobile i {
    font-size: 30px;
}
header .menu-container #nav-cb:checked + nav { 
    opacity: 1; 
    visibility: visible; 
}
header .menu-container nav .menu-lista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    margin-right: 40px;
}
header .menu-container nav .menu-lista li a {
    color: var(--silver-dark);
    padding: 0 5px 5px 5px;
    text-decoration: none;
}
header .menu-container nav .menu-lista li a:hover {
    border-bottom: 2px solid var(--orange);
}
header .search .icon-search {
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.414' height='21.414' viewBox='0 0 21.414 21.414'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23e42313;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-3.5 -3.5)'%3E%3Cpath class='a' d='M21.389,12.944A8.444,8.444,0,1,1,12.944,4.5,8.444,8.444,0,0,1,21.389,12.944Z'/%3E%3Cpath class='a' d='M29.567,29.567l-4.592-4.592' transform='translate(-6.067 -6.067)'/%3E%3C/g%3E%3C/svg%3E");
}


/*** Banner ***/
#banner {
    height: 980px;
    padding-top: 100px;
}
#banner .slick-banners {
    width: 100%;
    height: 100%;
}
#banner .slick-banners .slick-track, #banner .slick-list {
    height: 100%;
}
#banner .slick-dots {
    bottom: 35px;
}
#banner .slick-dots li {
    width: 27px;
}
#banner .slick-dots li.slick-active button:before {
    font-size: 20px;
    color: var(--white);
}
#banner .slick-dots li button:before {
    font-size: 20px;
    color: var(--silver-light);
    opacity: 1;
}
#banner .banner {
    position: relative;
    width: 100%;
    height: 100%;
}
#banner .banner .imagem {
    filter: brightness(0.3);
    height: 100%;
}
#banner .banner .imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#banner .banner .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
#banner .banner .text h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: var(--white);
}
#banner .banner .text h6 {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    color: var(--white);
}


/*** Quem somos ***/
#quem-somos {
    background: var(--white);
    padding: 60px 0 30px;
}
#quem-somos .text {
    padding: 0 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}  
#quem-somos h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    color: var(--silver-dark);
    position: relative;
    margin-bottom: 40px;
} 
#quem-somos h2:after {
    content: "";
    border-bottom: 2px solid var(--silver-dark);
    width: 50px;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 10px;
} 
#quem-somos h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: var(--silver-dark);
    margin-bottom: 35px;
} 
#quem-somos p {
    color: var(--silver-dark);
    margin-bottom: 40px;
} 
#quem-somos a {
    color: var(--white);
    text-decoration: none;
    background: var(--orange);
    padding: 12px 32px;
    border-radius: 10px;
    max-width: 145px;
    border: 2px solid transparent;
}
#quem-somos a:hover {
    color: var(--orange);
    background: var(--white);
    border: 2px solid var(--orange);
}

/*** Equipe ***/
#equipe {
    background: var(--white);
    padding: 30px 0 60px;
}
#equipe .text {
    padding-right: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}  
#equipe h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    color: var(--silver-dark);
    position: relative;
    margin-bottom: 40px;
} 
#equipe h2:after {
    content: "";
    border-bottom: 2px solid var(--silver-dark);
    width: 50px;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 10px;
} 
#equipe h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: var(--silver-dark);
    margin-bottom: 35px;
} 
#equipe p {
    color: var(--silver-dark);
    margin-bottom: 40px;
} 
#equipe a {
    color: var(--white);
    text-decoration: none;
    background: var(--orange);
    padding: 12px 32px;
    border-radius: 10px;
    max-width: 145px;
}
#equipe a:hover {
    color: var(--orange);
    background: var(--white);
    border: 2px solid var(--orange);
}


/*** Nosso espaço ***/
#nosso-espaco {
    background-image: url(../images/shape.png);
    background-color: var(--silver-fb);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding: 80px 0 0;
}
#nosso-espaco .text {
    padding-right: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}  
#nosso-espaco h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    color: var(--silver-dark);
    position: relative;
    margin-bottom: 40px;
} 
#nosso-espaco h2:after {
    content: "";
    border-bottom: 2px solid var(--silver-dark);
    width: 50px;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 10px;
} 
#nosso-espaco h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: var(--silver-dark);
    margin-bottom: 35px;
} 
#nosso-espaco p {
    color: var(--silver-dark);
    margin-bottom: 40px;
}
#nosso-espaco .slick-container {
    position: relative;
    bottom: -70px;
}
#nosso-espaco .slick-container .slick-arrows {
    display: flex;
    column-gap: 20px;
    margin-bottom: 10px;    
}
#nosso-espaco .slick-container .slick-arrows a {
    color: var(--silver-dark);
    padding: 3px;
    text-decoration: none;
    border: 1px solid var(--silver-b8);
}


/*** Fale conosco ***/
#fale-conosco {
    padding: 145px 0 80px;
}
#fale-conosco .block-1 {
    text-align: center;
    margin: auto;
}
#fale-conosco .block-1 h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: var(--silver-dark);
    margin-bottom: 10px;
}
#fale-conosco .block-1 p {
    max-width: 360px;
    color: var(--silver-dark);
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
#fale-conosco .block-1 .contatos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
#fale-conosco .block-1 .contatos a {
    display: flex;
    column-gap: 5px;
    background: var(--silver-fb);
    border-radius: 10px;
    padding: 18px 30px;
    color: var(--orange);
    text-decoration: none;
    border: 1px solid transparent;
}
#fale-conosco .block-1 .contatos a:hover {
    border: 1px solid var(--silver-light);
}
#fale-conosco .block-1 .contatos a .icon-phone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.86' height='19.86' viewBox='0 0 19.86 19.86'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23e42313;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M19.293,14.034l-4.344-1.862a.931.931,0,0,0-1.086.268l-1.924,2.351A14.378,14.378,0,0,1,5.066,7.917L7.416,5.994a.929.929,0,0,0,.268-1.086L5.822.563A.937.937,0,0,0,4.756.024L.721.955A.931.931,0,0,0,0,1.862a18,18,0,0,0,18,18,.931.931,0,0,0,.908-.721l.931-4.034a.942.942,0,0,0-.543-1.071Z' transform='translate(0 0)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 21px;
    padding-right: 5px;
}
#fale-conosco .block-1 .contatos a .icon-whatsapp {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23e42313;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M12.94,2.25A10.27,10.27,0,0,0,2.631,12.48a10.124,10.124,0,0,0,1.479,5.282L2.25,23.25l5.708-1.813A10.327,10.327,0,0,0,23.25,12.48,10.27,10.27,0,0,0,12.94,2.25Zm5.126,14.115a2.663,2.663,0,0,1-1.823,1.175c-.483.026-.5.375-3.133-.77a10.756,10.756,0,0,1-4.346-4.11,5.056,5.056,0,0,1-.973-2.74,2.921,2.921,0,0,1,1-2.143,1.01,1.01,0,0,1,.714-.3c.208,0,.342-.006.5,0s.384-.032.584.5.677,1.835.738,1.968a.478.478,0,0,1,0,.458,1.79,1.79,0,0,1-.279.426c-.138.148-.289.33-.412.443s-.28.261-.136.528a7.889,7.889,0,0,0,1.4,1.863,7.193,7.193,0,0,0,2.067,1.374c.259.141.413.125.573-.044s.686-.738.872-.992.359-.2.6-.109,1.507.776,1.766.916.431.212.493.323A2.165,2.165,0,0,1,18.067,16.365Z' transform='translate(-2.25 -2.25)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 21px;
    padding-right: 5px;
}
#fale-conosco .block-1 .contatos a .icon-wechat {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.304' height='21' viewBox='0 0 25.304 21'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23e42313;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M24.819,14.349a6.973,6.973,0,0,0-3.26-3.322,8.974,8.974,0,0,0-8.043.032,6.669,6.669,0,0,0-3.562,4.388,5.636,5.636,0,0,0,.717,4.176,7.7,7.7,0,0,0,5.241,3.424,9.651,9.651,0,0,0,4.574-.3c.888.344,1.678.9,2.539,1.314-.222-.745-.46-1.482-.713-2.216a7.166,7.166,0,0,0,2.366-2.614A5.667,5.667,0,0,0,24.819,14.349ZM14.356,4.37A10.664,10.664,0,0,0,5.62,3.69,8.89,8.89,0,0,0,1.038,7.3,6.762,6.762,0,0,0,.2,12.479a7.939,7.939,0,0,0,3.439,4.653c-.316.9-.617,1.791-.9,2.694,1.028-.538,2.056-1.1,3.085-1.646a11.451,11.451,0,0,0,3.859.546,6.493,6.493,0,0,1-.269-3.111,6.6,6.6,0,0,1,2.1-3.747,9.117,9.117,0,0,1,6.849-2.247,7.98,7.98,0,0,0-4.032-5.25h.028ZM16.183,14.9a1.038,1.038,0,1,1-1.328-1.34,1.049,1.049,0,0,1,1.328,1.34Zm5.055.1a1.061,1.061,0,0,1-1.662.285,1.579,1.579,0,0,1-.363-.77,1.167,1.167,0,0,1,.98-1.007A1.057,1.057,0,0,1,21.223,15h.016Zm-7.543-6.8a1.525,1.525,0,1,1,0-.013Zm-6.388.257A1.3,1.3,0,1,1,5.619,6.919,1.3,1.3,0,0,1,7.307,8.451Z' transform='translate(0.001 -3.06)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 21px;
    padding-right: 5px;
}
#fale-conosco .block-2 {
    background: var(--silver-fb);
    box-shadow: 7px 7px 15px #9C9C9C29;
    border-radius: 10px;
    padding: 65px 40px;
    margin: 25px auto 0;
    width: 100%;
}
#fale-conosco .block-2 .form-output { 
    padding: 13px 20px; 
    border-radius: 10px; 
    color: var(--white);
    text-align: center;
    margin-bottom: 20px;
}
#fale-conosco .block-2 .form-output.is-success { 
    background-color: var(--success);
}
#fale-conosco .block-2 .form-output.is-error { 
    background-color: var(--error); 
}
#fale-conosco .block-2 form {
    display: flex;
    gap: 20px;
}
#fale-conosco .block-2 form input, #fale-conosco .block-2 form select, #fale-conosco .block-2 form textarea {
    padding: 28px;
    background: var(--silver-f1);
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    font-family: var(--text-font);
    line-height: 26px;
    font-weight: 600;
    color: var(--silver-dark);
}
#fale-conosco .block-2 form textarea {
    padding: 28px 20px;
}
#fale-conosco .block-2 form .input-text {
    margin-bottom: 23px;
}
#fale-conosco .block-2 form .input-text .container-select {
    background: #f1f1f1;
    padding-right: 28px;
    border-radius: 20px;
}
#fale-conosco .block-2 form .input-submit button {
    display: block;
    font-family: var(--text-font);
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    background: var(--orange);
    padding: 12px 32px;
    border-radius: 10px;
    max-width: 145px;
    cursor: pointer;
    margin-left: auto;
}


/*** Footer ***/
footer {
    background: var(--silver-dark);
    padding: 50px 0 30px;
}
footer hr {
    border-bottom: 1px solid var(--white);
    margin-top: 65px;
    margin-bottom: 40px;
    width: 100%;
}
footer .col-33 {
    width: 33.33%;
}
footer .sub-menu ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}
footer .sub-menu li a {
    color: var(--white);
    text-decoration: none;
}
footer .sub-menu li a:hover {
    color: var(--silver-light);
}
footer .redes-sociais {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    column-gap: 15px;
}
footer .redes-sociais a {
    font-size: 20px;
    color: var(--white);
}
footer .redes-sociais a:hover {
    color: var(--silver-light);
}
footer .direitos {
    text-align: center;
    color: var(--white);
    width: 100%;
}